.hide{
    display: none !important;
}
.hide_input_ul{
    opacity: 0;
    position: absolute;
    z-index: -10;
    bottom: 10px;
}
.padding_for_nav{
    padding-bottom: 250px !important;
}
.pagination__list{
    justify-content: center;
}
.line_margin{
    margin: 10px 0px;
}
.popup_leave_request{
    width: 47% !important;
}
@media not all and (min-width: 1080px) {
    .popup_leave_request{
        width: 85% !important;
    }
}
@media not all and (min-width: 400px) {
    .popup_leave_request{
        width: 95% !important;
    }
}